@media screen and (max-width: 599px) {
  .--styleInputs {
    background-color: transparent !important;
    border: none !important;
    text-align: left !important;
  }

  .--addFlex {
    display: flex !important;
  }

  .cls-1 {
    fill: none;
    stroke: var(--main-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 8.41px;
    fill-rule: evenodd;
  }

  .doodle__button {
    transform: translate(-8px, 12px);
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    overflow: visible !important;
  }

  .doodle {
    grid-column: 1 / span 6 !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: repeat(5, 1fr);
    padding-right: 50px !important;
    padding-left: 50px !important;
    box-shadow: none !important;
    background: none !important;
  }

  .doodle__title {
    margin-top: 15vh;
    width: 100% !important;
    grid-column: 1 / span 4;
    text-align: center;
  }

  .doodle__title::before {
    content: "Make a";
    transform: translate(-93%, -50px);
    position: absolute;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
  }

  .--setMessage:nth-child(1) {
    grid-row: 1 !important;
    width: 92% !important;
    grid-column: 2 / span 6 !important;
  }

  .--setMessage:nth-child(2) {
    grid-column: 4 !important;
  }

  .--setMessage:nth-child(3) {
    grid-column: 5 !important;
  }

  .--setMessage:nth-child(2),
  .--setMessage:nth-child(3) {
    grid-row: 2 !important;
  }

  .doodle__message {
    text-align: center;
    margin: 0 auto;
    border: 1px var(--main-color) !important;
    box-shadow: 1px 1px 3px rgba(100, 205, 255, 0.8);
    transition: box-shadow 0.3s linear;
  }

  .doodle__buttons {
    grid-template-columns: repeat(8, 1fr) !important;
    grid-template-rows: repeat(4, 1fr) !important;
    transform: translateY(calc(100px + -4vh));
    grid-column: 1 / span 4;
  }

  .content {
    grid-column: 1 / span 6 !important;
    grid-row: 3 / span4;
    transform: translateY(calc(16px + -2vh)) !important;
  }

  .tileView {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tileView li input {
    width: 30px !important;
    transform: translate(3vw, -4vh) !important;
  }

  .--emptyStorage {
    grid-column: 2;
    margin-top: 0rem;
    width: 300px !important;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
  }
  .doodle__header {
    width: 1028px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .--sticky--header h1 {
    text-align: left !important;
    grid-row: 1;
    z-index: 9999;
    margin-top: 0 !important;
  }

  .--sticky--header h1:before {
    display: none;
  }

  .--sticky--header div {
    grid-row: 1;
    grid-column: 2 / span 3;
  }

  .--typed {
    transform: translateY(4vh);
  }

  .tileView li input {
    width: 1.7vw !important;
    transform: translate(3.6vw, -2vh) !important;
    font-size: calc(23px + 0.2vw);
  }

  input:hover,
  input:active {
    box-shadow: 3px 3px 10px rgba(100, 205, 255, 0.5);
  }

  .tileView {
    grid-template-columns: repeat(3, 1fr);
  }

  .--emptyStorage {
    width: 100% !important;
  }
}
