@import url(normalize.css);
@import url(responsive.css);

:root {
  --content-font: "Rubik", sans-serif;
  --title-font: "Amatic SC", cursive;
  --main-color: rgb(100, 205, 255);
  --test-color: linear-gradient(
    to top,
    #ebedee,
    #edeff2,
    #f4eff4,
    #fbf0f2,
    #fff2ee
  );

  body.noScroll {
    /* ...or body.dialogShowing */
    overflow: hidden;
  }

  --test-header: linear-gradient(
    to top,
    #fff2ee,
    #ffe5ca,
    #ffdd9e,
    #ffdb6d,
    #ffdf33
  );
  --para-color: rgba(48, 49, 49, 0.7);
  --border-color: rgba(6, 17, 22, 0.3);
  --weight-content: 100;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: calc(16px + 1vw);
}

body {
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
}

ul,
menu,
dir {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.content {
  max-width: 100%;
  grid-column: 1 / span 3;
}

h2 {
  font-size: calc(16px + 1vw);
}

::placeholder {
  color: var(--main-color);
  font-family: var(--title-font);
}

.doodle__header {
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.02);
  padding-right: 10px;
  padding-left: 10px;
  z-index: 999;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 32vh;
}

.sticky--header {
  background-color: white !important;
  height: 4rem !important;
  display: flex !important;
  width: 100% !important;
  position: fixed !important;
  top: 0 !important;
  align-items: center !important;
  justify-content: space-between !important;
  box-shadow: 1px 3px 720px rgba(0, 0, 0, 0.4) !important;
  animation-name: headerAnimation !important;
  animation-duration: 0.5s !important;
  animation-fill-mode: both !important;
}

@keyframes headerAnimation {
  0% {
    height: 0rem;
    opacity: 0;
  }

  100% {
    opacity: 1;
    height: 4rem;
  }
}

.--removeDisplay {
  display: none !important;
}

.--setMessageColumnTwo {
  grid-column: 1 / span 4 !important;
}

.--addCentering {
  grid-column: 1 / span 5 !important;
}

.--addLinkHover:hover {
  box-shadow: none;
  animation-name: boxshadow;
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes boxshadow {
  from {
    box-shadow: 0px -2px 0px 0px #4dbe9b inset;
  }
  to {
    box-shadow: none;
  }
}

.--styleFigure {
  list-style-type: none;
  padding-right: 2vw;
  padding-left: 2vw;
  line-height: 1.5rem;
  margin-bottom: 20px;
  color: var(--para-color);
}

.--styleButton {
  width: 29px;
  height: 29px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  background-color: transparent;
  border-color: peachpuff;
}

.--addTileViewParagraph {
  grid-row: 3;
  grid-column: 1 / span 6;
  text-align: left;
  margin-left: 5px;
}

.--addTileViewLikes {
  grid-column: 5;
  grid-row: 1;
  margin-top: 3vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.--addListViewLikes {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup {
  width: 70px;
  height: 86px;
  display: flex;
}

.--listView {
  font-family: var(--content-font);
  background-color: #f2f5f8;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.--listView:nth-child(odd) {
  background-color: #f5f5f5;
}

.--addAnimation {
  font-family: var(--content-font);
  color: var(--main-color);
  font-weight: var(--weight-content);
  animation-name: messageAnimation;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.gradient {
  background: #ffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fcfc79,
    #ffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fcfc79,
    #ffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.--addDimmer {
  opacity: 0.4 !important;
}

.--adjustWrapperHeight {
  height: 90vh !important;
}

.--addCharcoal {
  color: var(--para-color) !important;
}

@keyframes headerAnimation {
  from {
    height: 0rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 8rem;
  }
}

.doodle__title {
  font-family: "Barriecito", cursive;
  width: 30%;
  grid-row: 2;
}

textarea:focus,
input:focus {
  outline: none;
}

.doodle__buttons {
  height: 18vh;
  grid-column: 3 / span 5;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  max-width: 100%;
}

.doodle__buttons__message {
  font-size: calc(16px + 0.8rem);
  font-family: var(--content-font);
  font-weight: 100;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  word-break: break-all;
  padding: 8px;
  border-radius: 40px;
  background-color: #fff;
  text-align: center;
  grid-row: 2;
  grid-column: 1 / span 3;
}

.doodle__buttons__views {
  grid-row: 3;
  grid-column: 1 / span 3;
  font-size: calc(16px + 0.5rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 22px;
}

.--setMessage:nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}

.--emptyStorage {
  font-family: var(--content-font);
  animation-name: emptyStorageAnimation;
  animation-duration: 0.9s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
  text-align: center;
}

@keyframes emptyStorageAnimation {
  from {
    transform: translateY(-10vh);
    height: 0vh;
    color: rgba(68, 182, 144, 0);
  }
  to {
    transform: translateY(4vh);
    height: 7vh;
    color: rgba(68, 182, 144, 0.8);
  }
}

.--styleInputs {
  background-color: transparent !important;
  border: none;
  text-align: left !important;
}

.--tileView {
  font-family: var(--content-font);
  height: 50vh;
  background-color: yellow;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-radius: 12px;
}

.removeStorage {
  border: none;
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50px;
  font-weight: 500;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: var(--weight-content);
  color: var(--para-color);
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  line-height: 2rem;
}

.heart {
  color: red;
}

.likes {
  height: calc(16px + 0.4vw);
  width: calc(16px + 0.4vw);
}

.counter {
  color: red;
  position: absolute;
  left: 50%;
  transform: translateX(-170%);
  font-size: x-large;
}
